.hacker-title {
    font-family: 'Balthis';
    font-size: 5rem;
    text-align: center;
    margin-bottom: 0.25rem;
}

.hacker-description {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    max-width: 600px;
    line-height: 1.6;
    margin-top: -0.5rem;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.social-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    transition: color 0.2s ease;
}

.social-links a:hover {
    color: transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.background-flower {
    position: absolute;
    width: 600px;
    opacity: 0.5;
    filter: blur(5px);
    z-index: -1;
}

.content-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-light {
    color: #111;
}

.home-dark {
    color: white;
}

.page-container {
    height: calc(100vh - 30vh);
    display: flex;
    justify-content: center;
    align-items: center;
}