#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-bar {
  height: 64px;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.2s ease;
}

.nav-bar a:hover {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.binary-toggle {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: color 0.2s ease;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  font-size: x-large;
}

.binary-toggle:hover {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}